In [ ]:
for i in range(4):
    for j in range(i+1):
        print('#',end='')
    print()

In [ ]:
for i in range(1,4):
    for j in range(i):
        print('*',end = '')
    print()

In [ ]:
for i in range(1,4):
    print('*',end='')

In [ ]:
for i in range(4):
    for j in range(i):
        print('#',end = '')
    print()

In [ ]:
for i in range(4):
    for j in range(4-i):
        print('#',end='')
    print('____')

In [ ]:
for i in range(1,5):
    
    for j in range(i,5):
        print(j,end='')
        
    print()

In [ ]:
for i in range(5):
    for j in range(i):
        print('#',end='')
    print()

In [ ]:
for item in range(5):
    print(item)

In [ ]:
for a in range(5):
    for b in range(5-a):
        print('#',end='')
    print()

In [ ]:
l = ['p','q','r','s','t']

for i in range(len(l)):
    for j in range(i,len(l)):
        print(l[j],end='')
    print()

In [ ]:
l = ['p','q','r','s','t']
len(l)

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

In [ ]:
num = int(input("Enter a number"))
sum_of_num = 0

for i in range(num+1):
    sum_of_num = sum_of_num+i

average = sum_of_num/2
print(sum_of_num,average)

In [ ]:
a = list(range(10))

In [ ]:
for a in range(1,21):
    if a%2 == 0:
        print(a)
    else:
        continue

In [ ]:
n = 2
for a in range(1,11):
    product = 2*a
    print(product)

In [ ]:
#print number divisible by 5 break if greater than 500
# and if greater than 150 continue
numbers = [12,75,150,180,145,525,50]

for a in numbers:
    if a>500:
        break
    elif a>150:
        continue
    elif a%5==0:
        print(a)
    else:
        pass

In [3]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

In [7]:
for a in range(6,0,-1):
    for b in range(a,0,-1):
        print(b,end='')
    print()

654321
54321
4321
321
21
1

In [8]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
list1 = [10,20,30,40,50]

for item in range(len(list1)-1,-1,-1):
    rev=list1[item]
    print(rev)

50
40
30
20
10

In [34]:
list1 = [10,20,30,40,50]
list1.reverse()

for li in list1:
    print(li)

50
40
30
20
10

In [35]:
list1 = [10,20,30,40,50]
new_list = reversed(list1)

for i in new_list:
    print(i)

50
40
30
20
10

In [36]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [37]:
for a in range(5):
    print(a)
print('Done!')

0
1
2
3
4
Done!

In [38]:
for a in range(25,51):
    if a > 1:
        for b in range(2,a):
            if a%b == 0:
                break
        else:
            print(a)

29
31
37
41
43
47

In [41]:
for i in range(25,51):
    if i > 1:
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            print(i)

29
31
37
41
43
47

In [44]:
for a in range(25,51):
    for b in range(2,a):
        if a%b == 0:
            break
    else:
        print(a,end='')

29
31
37
41
43
47

In [46]:
a = [1,3,4,5,6,7,9,2]

for items in range(3,7):
    print(items,a[items])

3 5
4 6
5 7
6 9

In [49]:
a = [1,3,4,5,6,7,9,2]
for b in a:
    print(b)

1
3
4
5
6
7
9
2

In [52]:
num1,num2= 0,1
for a in range(10):
    print(num1,end=' ')
    result = num1 + num2
    
    num1 = num2
    num2 = result

0 1 1 2 3 5 8 13 21 34

In [56]:
num = 5
factorial = 1

for i in range(1,num+1):
    factorial = factorial * i
print(f'The factorial of ',{num},'is',{factorial})

The factorial of  {5} is {120}