# lambda function / Anonymous function
```python
 lambda arguments : Expression

```
* used with map() and filter()

In [1]:
data = range(1,10)
sq = []

for index in data:
    sq.append(index ** 2)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[index**2 for index in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
list(map(lambda x: x**2, range(1,10))) # x is argument

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
list(map(lambda x: x ** 3, range(15,21)))

[3375, 4096, 4913, 5832, 6859, 8000]

In [9]:
list(filter(lambda x: x%2 == 0, range(45,54)))

[46, 48, 50, 52]

In [10]:
list(filter(lambda x: x%2 == 1, range(31,41)))

[31, 33, 35, 37, 39]

# random number generation

In [13]:
import random as rn

In [15]:
random.randint(1,9) #generate random integer between 1(include) to 9(include)

2

In [19]:
rn.seed(0) # using seed its gives always same random number
rn.randint(1,9)

7

# while loop

In [20]:
random.seed(40)
data = [random.randint(1,150) for i in range(8)]

In [21]:
data

[118, 149, 135, 9, 63, 73, 53, 33]

In [24]:
index = 0
total = 0

while index < len(data):
    total = total + data[index]
    
    index = index + 1

In [25]:
total

633

In [26]:
mean = total/len(data)

In [27]:
mean

79.125

# Nested for loop

In [36]:
for i in range(5):
    print('.......')
    print(f'1 = {i}')
    print('.......')
    
    for j in range(3):
        print(f'j = {j}')

.......
1 = 0
.......
j = 0
j = 1
j = 2
.......
1 = 1
.......
j = 0
j = 1
j = 2
.......
1 = 2
.......
j = 0
j = 1
j = 2
.......
1 = 3
.......
j = 0
j = 1
j = 2
.......
1 = 4
.......
j = 0
j = 1
j = 2

In [49]:
random.seed(55)
data = [[random.randint(1,100) for i in range(4)] for i in range(6)]

In [50]:
data

[[12, 26, 20, 95],
 [39, 11, 96, 24],
 [39, 12, 46, 93],
 [85, 61, 70, 50],
 [50, 65, 52, 41],
 [93, 55, 69, 99]]

In [51]:
item = [12, 26, 20, 95]
total = 0

for datapoint in item:
    total = total + datapoint
x_bar = total/len(item)
mean.append(x_bar)

In [ ]:
mean

In [47]:
random.seed(55)
data = [[random.randint(1,100) for i in range(4)] for i in range(6)]
mean = []
for item in data:
    total = 0
   
    for data_point in item:
        total = total + data_point
        
    x_bar = total/len(item)
    mean.append(x_bar)

In [48]:
mean

[38.25, 42.5, 47.5, 66.5, 52.0, 79.0]

# Decorators, Iterators and generators, dataclass, abstract class